@charset "utf-8";
.contactSection{
  width: 100%;
  margin-top:50px;
  background: #BFAE99;
  color:#fff;
}

.sectionTitle>h2{
  width: 100%;
  background: #fff;
  color:#000;
  padding-bottom: 50px;
}

.contactContainer{
  width: 83.33%;
  margin:  0 auto;
}


.contactThank{
  font-size: 3.2rem;
  margin-bottom:30px ;
  line-height: 1.2
}
.contactClosing{
  font-size: 2.4rem;
}
.contactEmail{
  width: 100%;
  padding-top: 30px;
  margin: 0 auto;

}
.contactEmail>p:nth-child(1){
  font-size: 3rem;
  text-align: center;
}
.emailPhone{
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  font-size: 2.4rem;
  text-align: center;
}
.email{
  padding-bottom: 20px;
}