@charset "utf-8";
.contactSection {
  width: 100%;
  margin-top: 50px;
  background: #bfae99;
  color: #fff;
}
.title {
  width: 100%;
  background: #fff;
  color: #000;
  text-align: center;
}
.title > h2 {
  padding-bottom: 50px;
  font-size: 4.6rem;
  font-family: "Pretendard";
  font-weight: 600;
}

.contactContainer {
  width: 83.33%;
  margin: 0 auto;
}
.contactContents {
  margin-top: 50px;
}
.contactThank {
  font-size: 3.2rem;
  margin-bottom: 30px;
  line-height: 1.2;
}
.contactClosing {
  font-size: 2.4rem;
  line-height: 1.3;
}
.contactEmail {
  width: 100%;
  padding-top: 30px;
  margin: 0 auto;
}
.contactEmail > p:nth-child(1) {
  font-size: 3rem;
  text-align: center;
}
.emailPhone {
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  font-size: 2.4rem;
  text-align: center;
}
.email {
  padding-bottom: 20px;
}
/* 768시작 */
@media screen and (min-width: 768px) {
  .contactSection {
    margin-top: 100px;
  }
  .contactContainer {
    width: 86.98%;
  }
  .title > h2 {
    font-size: 6rem;
  }
  .contactContents {
    text-align: center;
  }
  .emailPhone {
    display: flex;
    justify-content: space-between;
  }
  .email {
    padding-bottom: 00px;
  }
}
/* 1700시작 */
@media screen and (min-width: 1700px) {
  .contactSection {
    margin-top: 100px;
  }
  .contactContainer {
    width: 700px;
  }
  .emailPhone {
    display: flex;
    justify-content: space-between;
  }
  .email {
    padding-bottom: 00px;
  }
}
