@charset "utf-8";
.container {
  width: 100%;
  height: 100px;
  background: #ead6be;
  position: fixed;
  border-bottom: solid #111 1px;
  z-index: 10;
}
.headerInner {
  width: 83.33%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
}
.center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center h1 {
  font-size: 2.6rem;
  font-family: "Pretendard", sans-serif;
}
.burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
}
.bar {
  width: 25px;
  height: 3px;
  background-color: #7e583a;
}
.close {
  font-size: 3rem;
  color: #7e583a;
  font-weight: bold;
}
.gnbWrap {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100vw;
  font-size: 2rem;
  background-color: burlywood;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
.gnbWrap.show {
  max-height: 230px;
  opacity: 1;
}
.gnb {
  width: 83.33%;
  height: auto;
  margin: 0 auto;
  font-weight: 500;
}
.gnb li {
  padding: 30px 30px 0 0;
}
.gnb li a:hover {
  color: #fff;
}
.gnb li:last-child {
  padding-bottom: 30px;
}

/* 768px 태블릿 시작 */

@media screen and (min-width: 768px) {
  .headerInner {
    width: 86.98%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
  }

  .center h1 {
    font-size: 3rem;
  }
  .burger {
    gap: 7px;
  }
  .bar {
    width: 30px;
    height: 5px;
  }
  .close {
    font-size: 4rem;
  }
  .gnbWrap {
    font-size: 2.2rem;
  }
  .gnb {
    width: 86.98%;
  }
}
/* 1024px 노트북 시작*/
@media screen and (min-width: 1024px) {
  .headerInner {
    width: 88.28%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  .center {
    width: 27%;
    margin: 0;
    display: block;
  }

  .center h1 {
    font-size: 3rem;
    line-height: 100px;
  }
  .burger {
    display: none;
  }
  .gnbWrap {
    all: unset;
  }
  .gnb {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin: 0;
    line-height: 99px;
  }
  .gnb li {
    padding: 0;
    font-size: 2rem;
  }
  .gnb li:last-child {
    padding-bottom: 0px;
  }
  .gnb li a {
    font-size: 2.4rem;
  }
}
/* 1600px pc시작 */
@media screen and (min-width: 1700px) {
  .headerInner {
    width: 1600px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  .center {
    width: 260px;
    height: 100%;
  }

  .center h1 {
    font-size: 3.2rem;
  }
  .gnb li a {
    font-size: 2.8rem;
  }
}
