@charset "utf-8";
.introBg {
  background-color: #f7e9dc;
  height: 600px;
  width: 100%;
}
.introText {
  width: 46.11%;
  height: 83px;
  margin: 0 auto;
}

.introText p {
  font-size: 3.6rem;
  text-align: center;
}
.introText p:first-child {
  padding-top: 250px;
  margin-bottom: 20px;
}
