@charset "utf-8";
.introSection {
  width: 100%;
  padding-top: 100px;
}
.container {
  background-color: #f7e9dc;
  height: 600px;
  width: 100%;
}
.textBox {
  width: 46.11%;
  height: 83px;
  margin: 0 auto;
  padding-top: 200px;
  font-family: "Pretendard";
  font-weight: 600;
}

.textBox p {
  font-size: 3.6rem;
  text-align: center;
}
.textBox p:first-child {
  margin-bottom: 20px;
}
/* 768px 태블릿시작 */
@media screen and (min-width: 768px) {
  .container {
    height: 1080px;
  }
  .textBox {
    width: 35.93%;
    height: 150px;
    padding-top: 400px;
  }

  .textBox p {
    font-size: 6rem;
  }
}
@media screen and (max-width: 1023px) {
  .moveBox {
    pointer-events: none;
  }
}
/* 노트북시작 */
@media screen and (min-width: 1024px) {
  .container {
    height: 1080px;
  }
  .textBox {
    width: 50%;
    padding-top: 250px;
    perspective: 1000px;
  }

  .textBox p {
    font-size: 6rem;
  }
  .moveBox {
    padding: 100px 50px 100px 50px;
    transform-style: preserve-3d;
    transition: all 0.3s;
  }
}
/* PC시작 */
@media screen and (min-width: 1700px) {
  .container {
    height: 1080px;
  }
  .textBox {
    width: 600px;
    height: auto;
  }

  .textBox p {
    font-size: 6rem;
  }
}
