@charset "utf-8";
.container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  background: #ead6be;
}
.textBox {
  width: 100%;
  font-size: 3.2rem;
  padding-top: 400px;
  line-height: 1.25;
  text-align: center;
}
.pBox {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .textBox {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .textBox {
    font-size: 4.8rem;
  }
}
@media screen and (min-width: 1700px) {
  .textBox {
    font-size: 6rem;
  }
}
