@charset "utf-8";
.loadingSection {
  width: 100vw;
  height: 100vh;
  color: #fff;
  background: #fff;
}
.loadingSection::-webkit-scrollbar {
  display: none;
}
.loadingSection::after {
  content: "";
  width: 0;
  height: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  animation: loadingAni 3s ease-in-out;
  z-index: 1;
}
@keyframes loadingAni {
  to {
    width: 300vw;
    height: 300vw;
  }
}
.pBox {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 4.8rem;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 1.3;
  position: absolute;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .pBox {
    width: 100%;
    font-size: 9.4rem;
  }
}
@media screen and (min-width: 1700px) {
  .pBox {
    font-size: 16rem;
  }
}
