@charset "utf-8";
.projectSection {
  width: 100%;
  margin-top: 100px;
  background: #ebd8c3;
}
.container {
  width: 83.33%;
  margin: 0 auto;
}
.title {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  background: #fff;
  padding-bottom: 30px;
}
.title h2 {
  font-size: 4.6rem;
  font-family: "Pretendard";
}
.projectBtn {
  width: 83.33%;
  margin: 0 auto;
}
.onlyMobile {
  display: block;
  margin-top: 50px;
}
.onlyDesktop {
  display: none;
}
.projectBg {
  width: 100%;
}
.scrollBox {
  width: 100%;
  height: 90px;
  text-align: center;
  background: #fff;
  border-radius: 30px;
}
.scrollBox p {
  line-height: 90px;
  font-size: 2.4rem;
}
.projectBox {
  width: 100%;
  margin-top: 25px;
}
.projectImg {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 30px;
  overflow-y: auto;
}
.portfolioImg {
  width: 100%;
  height: auto;
}
.projectDescription {
  width: 100%;
  background: #fff;
  border-radius: 30px;
  color: #4b3f33;
}
.projectTitle {
  width: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.projectTitle h3 {
  font-size: 4rem;
  padding: 10px 0 0 10px;
  font-family: "Pretendard";
  font-weight: 600;
}
.projectTitle p {
  padding: 10px 0 0 10px;
}
.projectTitle p:nth-of-type(1) {
  font-size: 2rem;
}
.projectTitle p:nth-of-type(2) {
  font-size: 1.6rem;
}
.line {
  margin-top: 20px;
  width: 100%;
  height: 2px;
  background: #000;
}
.projectDetailBox {
  width: 100%;
}
.detailRow {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #000;
}
.detailRow:last-child {
  padding-top: 15px;
  line-height: 25px;
  border-bottom: none;
}
.label {
  font-size: 2.6rem;
}
.contents {
  font-size: 1.8rem;
  overflow-wrap: break-word;
}
.projectPageBtn {
  margin-top: 30px;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.projectPageBtn a {
  width: 145px;
  height: 50px;
  font-size: 2.4rem;
  border-radius: 30px;
  color: #fff;
  background: #a67c52;
  text-align: center;
  line-height: 50px;
}
.projectPageBtn a:hover {
  background: #7e583a;
}
/* 버튼css */
.dropDown {
  width: 100%;
}
.dropDownUl {
  width: 100%;
  height: 50px;
  color: #fff;
  background: #a67c52;
  border-radius: 50px;
  font-size: 1.8rem;
  font-weight: 500;
}
.dropDownMenu {
  width: 100%;
  margin: 0 auto;
  font-size: 1.8rem;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}
.dropDownMenu.show {
  max-height: 300px;
  opacity: 1;
}
.dropDownMenu li {
  background: burlywood;
  padding: 15px 0 15px 0;
  margin-bottom: 20px;
  border-radius: 30px;
  color: #3f2712;
  cursor: pointer;
  color: #fff;
}
.dropDownMenu li:first-child {
  margin-top: 20px;
}
.dropDownMenu li:hover {
  background-color: #7e583a;
}
/* 768px 태블릿 시작 */
@media screen and (min-width: 768px) {
  .projectSection {
    margin-top: 100px;
  }
  .container {
    width: 86.98%;
  }
  .titleBox {
    width: 100%;
    height: auto;
    background: #fff;
    margin-bottom: 100px;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86.98%;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .title h2 {
    margin-bottom: auto;
  }
  .projectBtn {
    width: 54.03%;
    margin: 0;
    margin-left: auto;
  }
  .onlyMobile {
    margin-top: 0px;
  }
  .scrollBox p {
    padding-top: 0px;
    line-height: 90px;
    font-size: 2.4rem;
  }
  .projectBox {
    display: flex;
    justify-content: space-between;
  }
  .projectImg {
    width: 61.38%;
    max-width: 410px;
    height: 560px;
    margin: 0;
    margin-bottom: 100px;
  }
  .projectWrap {
    width: 35.62%;
  }
  .projectDescription {
    height: auto;
  }

  .detailRow {
    align-items: center;
    padding: 10px 10px 0 10px;
    line-height: 25px;
  }

  .detailRow:last-child {
    padding-top: 0px;
    border-bottom: none;
  }
  .label {
    width: 50%;
  }
  .contents {
    width: 50%;
  }
  .projectPageBtn {
    margin-top: 45px;
    padding-bottom: 0px;
  }
  .projectPageBtn a {
    width: 45%;
  }
}
/* 1024px 노트북 시작 */
@media screen and (min-width: 1024px) {
  .projectSection {
    margin-top: 150px;
  }
  .container {
    width: 88.28%;
  }
  .title {
    width: 88.28%;
    padding-bottom: 65px;
  }
  .title h2 {
    font-size: 6rem;
  }
  .projectBtn {
    width: 59.62%;
  }
  .onlyMobile {
    display: none;
  }
  .onlyDesktop {
    display: block;
  }
  .projectBtnContainer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
  }
  .projectBtnContainer button {
    width: 22%;
    height: 100%;
    background: #a67c52;
    border-radius: 50px;
    font-size: 2rem;
    line-height: 60px;
    color: #fff;
  }
  .projectBtnContainer button:hover {
    background-color: #7e583a;
  }
  .projectBox {
    margin-top: 100px;
  }
  .projectImg {
    width: 57.52%;
    max-width: 520px;
    height: 565px;
  }
  .projectWrap {
    width: 40.38%;
  }
  .projectTitle {
    height: auto;
  }
  .projectTitle h3 {
    font-size: 6rem;
  }
  .label {
    width: 50%;
  }
  .contents {
    width: 50%;
  }
}
/* 1700px pc 시작 */
@media screen and (min-width: 1700px) {
  .projectSection {
    margin-top: 200px;
  }
  .container {
    width: 1600px;
  }
  .title {
    width: 1600px;
    padding-bottom: 65px;
  }
  .title h2 {
    font-size: 6rem;
  }
  .projectBtn {
    width: 75%;
  }
  .onlyMobile {
    display: none;
  }
  .onlyDesktop {
    display: block;
  }
  .projectBtnContainer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
  }
  .projectBtnContainer a {
    width: 22%;
    height: 100%;
    background: #a67c52;
    border-radius: 50px;
    font-size: 2rem;
    line-height: 60px;
    color: #fff;
  }
  .projectBtnContainer a:hover {
    background-color: #7e583a;
  }
  .scrollBox {
    width: 40.94%;
    margin-left: 115px;
  }

  .projectBox {
    margin-top: 50px;
  }
  .projectImg {
    width: 57.81%;
    max-width: 925px;
  }
  .projectWrap {
    width: 32.5%;
  }
  .projectTitle {
    height: auto;
  }
  .projectTitle h3 {
    font-size: 6rem;
  }
}

.fadeWrap {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s;
}
.fadeOut {
  opacity: 0;
  transform: translateY(-10px);
}
