@charset "utf-8";
.dropDown{
  width: 100%;
}
.dropDownUl{
  width: 100%;
  height: 50px;
  color: #fff;
  background: #a67c52;
  border-radius: 50px;
  font-size:1.8rem;
  border-bottom: 1px solid #000;
}
.dropDownMenu{
  width: 100%;
  margin:0 auto;
  font-size:1.8rem;
}
.dropDownMenu li{
  background: burlywood;
  padding:10px 0 10px 0;
}