@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  src: url(./Fonts/Pretendard-SemiBold.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  src: url(./Fonts/Pretendard-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url(./Fonts/Montserrat-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url(./Fonts/Montserrat-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url(./Fonts/Montserrat-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url(./Fonts/Montserrat-SemiBold.woff2) format("woff2");
}
html {
  scroll-behavior: smooth;
}

#profileSection {
  scroll-margin-top: 100px;
}
#skillSection {
  scroll-margin-top: 100px;
}
#projectSection {
  scroll-margin-top: 100px;
}
#contactSection {
  scroll-margin-top: 100px;
}
@media screen and (min-width: 768px) {
  #profileSection {
    scroll-margin-top: 0px;
  }
  #projectSection {
    scroll-margin-top: 100px;
  }
}
@media screen and (min-width: 1024px) {
  #projectSection {
    scroll-margin-top: 100px;
  }
  #profileSection {
    scroll-margin-top: 0;
  }
}
@media screen and (min-width: 1700px) {
  #profileSection {
    scroll-margin-top: -50px;
  }
  #skillSection {
    scroll-margin-top: 100px;
  }
  #projectSection {
    scroll-margin-top: 100px;
  }
}

body {
  font-family: "Montserrat", "Pretendard";
}
