@charset "utf-8";
.introSection {
  width: 100%;
  padding-top: 100px;
}
.introContainer {
  background-color: #f7e9dc;
  height: 600px;
  width: 100%;
}
.introText {
  width: 46.11%;
  height: 83px;
  margin: 0 auto;
  padding-top: 200px;
}

.introText p {
  font-size: 3.6rem;
  text-align: center;
}
.introText p:first-child {
  margin-bottom: 20px;
}
/* 768px 태블릿시작 */
@media screen and (min-width: 768px) {
  .introBg {
    height: 1080px;
  }
  .introText {
    width: 35.93%;
    height: 150px;
  }

  .introText p {
    font-size: 6rem;
  }
}
/* 노트북시작 */
@media screen and (min-width: 1024px) {
  .introBg {
    height: 1080px;
  }
  .introText {
    width: 26.75%;
  }

  .introText p {
    font-size: 6rem;
  }
}
/* PC시작 */
@media screen and (min-width: 1600px) {
  .introBg {
    height: 1080px;
  }
  .introText {
    width: auto;
  }

  .introText p {
    font-size: 6rem;
  }
  .introText p:first-child {
    padding-top: 400px;
  }
}
