@charset "utf-8";
.profileSection {
  width: 100%;
  padding-top: 100px;
}
.profileContainer {
  width: 83.33%;
  margin: 0 auto;
}
.sectionTitle {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}
.sectionTitle h2 {
  font-size: 4.6rem;
}
.profileLeft,
.profielRight {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.profilePicture {
  margin: 0 auto;
  width: 250px;
  height: 400px;
  border: 1px solid #000;
  margin-bottom: 50px;
}
.profileInfoBox {
  border: 1px solid #000;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.profileInfoBox p {
  padding: 10px 0 10px 0;
  font-size: 1.8rem;
}
.profileDetail {
  border: 1px solid #000;
}
.profileIntroduce {
  border: 1px solid #000;
  border-top: none;
}
.profileIntroduce p {
  font-size: 1.6rem;
  line-height: 1.3;
  padding: 10px;
}
.title {
  font-size: 2.4rem;
  padding: 10px 0 10px 10px;
}
.detailBox {
  font-size: 1.6rem;
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.skillBox {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.skillicon {
  width: 25px;
  height: 25px;
  margin-right: 3px;
  display: inline-block;
  border: 1px solid #000;
}
/* 768px 태블릿 시작 */
@media screen and (min-width: 768px) {
  .profileSection {
    padding-top: 100px;
  }
  .profileContainer {
    width: 86.98%;
    display: flex;
    justify-content: space-between;
  }
  .profileLeft {
    width: 35.62%;
    margin: 0;
  }
  .profileRight {
    width: 61.37%;
  }
  .profilePicture {
    width: 100%;
    max-width: 238px;
    height: 300px;
    margin: 0;
    margin-bottom: 50px;
  }
  .profileInfoBox {
    max-width: 238px;
    margin: 0;
  }
  .profileIntroduce p {
    font-size: 1.8rem;
    line-height: 1.4;
  }
  .title {
    padding: 10px 0 10px 10px;
  }
  .detailBox {
    margin-bottom: 10px;
  }
  .skillicon {
    width: 30px;
    height: 30px;
    margin-right: 0px;
  }
}
/* 1024px 태블릿 시작 */
@media screen and (min-width: 1024px) {
  .profileContainer {
    width: 88.28%;
    display: flex;
    justify-content: space-between;
  }
  .profileLeft {
    width: 31.86%;
    margin: 0;
  }
  .profilePicture {
    max-width: 238px;
    height: 300px;
  }
  .profileInfoBox {
    max-width: 238px;
    margin-bottom: 0px;
  }
  .profileRight {
    width: 62.39%;
    height: 650px;
  }
  .profileDetail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 350px;
  }
  .detailInfoBox {
    width: 50%;
    height: 50%;
  }
  .profileIntroduce p {
    font-size: 2rem;
    line-height: 1.4;
  }
  .title {
    padding: 10px 0 10px 10px;
  }
  .detailBox {
    margin-bottom: 10px;
  }
  .skillBox {
    width: 100%;
    max-width: 290px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 0px;
    gap: 10px;
  }
  .skillicon {
    width: 40px;
    height: 40px;
    margin-right: 0px;
  }
}
/* 1700px Pc 시작 */
@media screen and (min-width: 1700px) {
  .profileSection {
    padding-top: 150px;
  }
  .profileContainer {
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .profileLeft {
    width: 385px;
    margin: 0;
  }
  .profilePicture {
    max-width: 385px;
    height: 500px;
    margin-bottom: 35px;
  }
  .profileInfoBox {
    max-width: 385px;
    height: 115px;
    margin-bottom: 0px;
  }
  .profileRight {
    width: 1060px;
  }
  .detailInfoBox {
    width: 50%;
    height: 50%;
  }
  .profileIntroduce {
    height: 300px;
  }
  .profileIntroduce p {
    font-size: 2rem;
    line-height: 1.4;
    padding: 0 30px 0 30px;
  }
  .profileIntroduce .title {
    padding-top: 50px;
  }
  .title {
    padding: 20px 0 20px 30px;
  }
  .detailBox {
    padding: 0 30px;
    margin-bottom: 10px;
  }
  .skillBox {
    width: 100%;
    max-width: 290px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 0px;
    gap: 10px;
    padding-left: 30px;
  }
  .skillicon {
    width: 40px;
    height: 40px;
    margin-right: 0px;
  }
}
